services:
  pg:
    image: postgres:18.1-alpine
    restart: on-failure
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - ./data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    image: migrate/migrate
    depends_on:
      pg:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - ./migrations:/migrations
    command:
      [
        "-path",
        "/migrations",
        "-database",
        "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable",
        "up",
      ]

  bitcoin-node:
    platform: linux/amd64
    image: bitcoin/bitcoin:28.1
    ports:
      - "28333:28333"
      - "38332:38332" # signet
    volumes:
      - .bitcoin:/home/bitcoin/.bitcoin
    environment:
      - BITCOIN_NETWORK=signet
    restart: unless-stopped
